/* Login Page */
.login-page{
  background-color: #FFF;
  height: 100%;
  .login-form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-title{
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
  }
}