/* Login Page */
.login-page{
  background-color: #2c3338;
  height: 100%;
  .login-form{
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}